@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hover Effect for Child Elements: */
.leanmore_link_div:hover .leanmore_link {
  color: black; 
}

@media screen and (min-width: 768px) {
  .navigation-list-nested-hover:hover {
      background-color: #2e2e2e;
      overflow: hidden;
      transition: background-color 0.5s ease-in-out;
  }

  .navigation-list-nested-hover:hover p {
      color: white; 
  }

  .navigation-list-nested-hover:hover a {
      background-color: transparent;
  }
}

/* graph frame */
/* .aspect-ratio-box {
  width: 100%;
  padding-top: 90%; 
  position: relative;
}

.aspect-ratio-box > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
 */


/* .padding-block-20 {
  padding-block: 20%;
} */
