@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hover Effect for Child Elements: */
.leanmore_link_div:hover .leanmore_link {
  color: black; 
}

@media screen and (min-width: 768px) {
  .navigation-list-nested-hover:hover {
      box-shadow: 
          inset -2px 0 0 2px #2e2e2e, /* 左侧阴影 */
          inset 2px 0 0 2px #2e2e2e,  /* 右侧阴影 */
          inset 0 0 0 0 #2e2e2e; /* 下侧阴影 */
      overflow: hidden;
      transition: box-shadow 0.3s ease-in-out;
  }

  .navigation-list-nested-hover:hover a {
      background-color: transparent;
  }
}


/* graph frame */
/* .aspect-ratio-box {
  width: 100%;
  padding-top: 90%; 
  position: relative;
}

.aspect-ratio-box > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
 */


/* .padding-block-20 {
  padding-block: 20%;
} */
