{%- macro render(url="#",badge_type="unrelated",related=False) -%}
<a class="group md:w-full md:flex-1 md:flex-grow md:rounded-t-none md:rounded-b-full md:items-end md:pb-[7%] w-10 h-10 rounded-full flex justify-center z-20 items-center cursor-pointer
    {% if not related %} md:h-[82%] bg-light-grey lg:rounded-b-full lg:items-end lg:pb-[7%]
    {% elif related %} md:h-full bg-grey-900
    {% endif %}
    {% if request.path == url %} md:h-full bg-light-grey xl:shadow-custom-border-xl md:shadow-custom-border-md shadow-custom-border-sm
    {% endif %}
    hover:bg-light-grey hover:xl:shadow-custom-border-xl hover:md:shadow-custom-border-md hover:shadow-custom-border-sm hover:md:h-full hover:transition-all hover:duration-500 hover:ease-out"
    href="{{ url }}">
      {{ caller() }}
    </a>
  
{%- endmacro -%}
