{% import 'atoms/nav_textstyle.html' as nav_textstyle with context %}
{%- macro render(url="#") -%}
{%set parent_caller = caller()%}
    <li>
        <a href="#"
            class="block py-2 pl-3 pr-4 text-grey-700 rounded hover:bg-grey-100 lg:hover:bg-transparent lg:hover:text-dark-blue-700 lg:p-0 lg:dark:hover:text-white dark:text-gray-400 dark:hover:bg-grey-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-grey-700">
            {%call nav_textstyle.render()%}
            {{parent_caller}}
            {%endcall%}
        </a>
    </li>
{%- endmacro -%}
