{% extends "base.html" %}
{% import 'templates/indicator.html' as indicator  with context %}
{% import 'organisims/page_container_plain.html' as page_container_plain  with context %}
{% import 'organisims/page_container_two_columns.html' as page_container_two_columns  with context %}
{% import 'organisims/child_container_forty_percent_basis.html' as child_container_forty_percent_basis  with context %}
{% import 'organisims/child_container_sixty_percent_basis.html' as child_container_sixty_percent_basis  with context %}
{% import 'organisims/child_container_full_width_items_end.html' as child_container_full_width_items_end  with context %}
{% import 'organisims/graph_frame.html' as graph_frame with context %}
{% import 'organisims/child_container_sixty_percent_width.html' as child_container_sixty_percent_width with context %}
{% import 'molecules/text_with_heading.html' as text_with_heading  with context %}
{% import 'molecules/text_without_heading.html' as text_without_heading  with context %}
{% import 'molecules/callout.html' as callout with context %}
{% import 'molecules/link_view_datasource.html' as link_view_datasource with context %}
{% import 'atoms/divider.html' as divider with context %}
{% set title_text="Climate Variables" %}

{% block title %}{{ title_text }}{% endblock %}

{% block content %}
  {% call indicator.render(title_text=title_text) %}
    <!-- content-first section   -->
    {% call page_container_two_columns.render() %}
      <!--  left side organism -->
      {% call child_container_forty_percent_basis.render() %}
        <!--  text without heading molecule-->
        {% call text_without_heading.render() %}
          Climate variables are a key driver for many measures of catchment
          health due to their influence on the ecosystem as well as water
          quality and quantity. This indicator includes temperature and rainfall
          observations obtained from four, currently active, measurement sites.
        {% endcall %}
        {% call text_without_heading.render() %}
          However, future expansion of the network of weather stations and
          parameters monitored would be extremely valuable to obtain a more
          robust representation of the climatic conditions of the catchment.
        {% endcall %}
      {% endcall %}
      <!-- right side organism -->
      {% call child_container_sixty_percent_basis.render() %}
        <!-- graph frame organism-->
        {% call graph_frame.render(graph_title="Active weather stations in the catchment") %}
          <!-- graph placeholder -->
        {% endcall %}
      {% endcall %}
    {% endcall %}

    <!-- divider section -->
    {% call page_container_plain.render() %}
      <!-- divider atom-->
      {{ divider.render(divider_width="border-b-2") }}
    {% endcall %}

    <!-- content-second section   -->
    {% call page_container_plain.render() %}
      <!-- full width organism with items aligned to end -->
      {% call child_container_full_width_items_end.render() %}
        {% call child_container_sixty_percent_width.render() %}
          {% call text_with_heading.render(subhead_01_text="Wānaka Airport ") %}
          {% endcall %}
          <!-- call out molecule-->
          {% call callout.render(statistic_value="**Place holder**") %}
            Temperature data from 2022 show that our catchment continues to be
            slightly above the long-term average.
          {% endcall %}
        {% endcall %}
        <!-- graph frame organism-->
        {% call graph_frame.render(graph_title="Monthly total rainfall and average monthly temperature as observed at Wānaka Airport in 2022.") %}
          <!--{{ create_figure().to_html(div_id="landUses",full_html=False, include_plotlyjs=False, include_mathjax=false )|safe }} -->
        {% endcall %}
      {% endcall %}
    {% endcall %}

    <!-- divider section -->
    {% call page_container_plain.render() %}
      <!-- divider atom-->
      {{ divider.render(divider_width="border-b-2") }}
    {% endcall %}

    <!-- content-third section   -->
    {% call page_container_plain.render() %}
      {% call text_without_heading.render() %}
        The relationship between climate variables and other measures of
        catchment health are complex, but linked. Rainfall and temperature
        impact whether flora and fauna can flourish, may impede human recreation
        opportunities both in the summer and winter, as well as pose threats to
        the agricultural industry of the catchment.
      {% endcall %}
      {% call text_without_heading.render() %}
        The range of some invasive species may increase to include our
        catchment: for example, the sub-tropical bungalow palm, which currently
        only grows on the North Island, could spread to the South Island under a
        warming climate2. Furthermore, breeding seasons of invasive predators,
        such as rats, possums and mice, may also extend due to higher
        temperatures2, which can also accelerate the reproductive cycle, leading
        to faster population growth, while rainfall influences the availability
        of food, water, and shelter for pests.
      {% endcall %}
      {% call text_without_heading.render() %}
        Climate data presented here are thus important to consider when, for
        example, assessing the data presented as part of the invasive species
        indicator.
      {% endcall %}
    {% endcall %}

    <!-- divider section -->
    {% call page_container_plain.render() %}
      <!-- divider atom-->
      {{ divider.render(divider_width="border-b-2") }}
    {% endcall %}

    <!-- content-fourth section   -->
    {% call page_container_plain.render() %}
      <!-- full width organism with items aligned to end -->
      {% call child_container_full_width_items_end.render() %}
        {% call child_container_sixty_percent_width.render() %}
          {% call text_without_heading.render() %}
            A dryer summer and wetter winter in 2022 were observed in Makarora
            compared to the long-term average from 1990 to 2005 – putting
            pressure on the water resources, especially in summer. Furthermore,
            greater rainfall depths are expected to increase the likelihood of
            landslides and flooding.
          {% endcall %}
        {% endcall %}
        <!-- graph frame organism-->
        {% call graph_frame.render(graph_title="Monthly total rainfall as observed at Makaroa in 2022. No temperature data were available from the climate database.") %}
          <!--{{ create_figure().to_html(div_id="landUses",full_html=False, include_plotlyjs=False, include_mathjax=false )|safe }} -->
        {% endcall %}
      {% endcall %}
    {% endcall %}

    <!-- divider section -->
    {% call page_container_plain.render() %}
      <!-- divider atom-->
      {{ divider.render(divider_width="border-b-6") }}
    {% endcall %}
  {% endcall %}
{% endblock %}
