{% extends "base.html" %}
{% import 'templates/indicator.html' as indicator  with context %}
{% import 'organisims/page_container_plain.html' as page_container_plain  with context %}
{% import 'organisims/page_container_two_columns.html' as page_container_two_columns  with context %}
{% import 'organisims/child_container_forty_percent_basis.html' as child_container_forty_percent_basis  with context %}
{% import 'organisims/child_container_sixty_percent_basis.html' as child_container_sixty_percent_basis  with context %}
{% import 'organisims/child_container_full_width_items_end.html' as child_container_full_width_items_end  with context %}
{% import 'organisims/child_container_sixty_percent_width.html' as child_container_sixty_percent_width with context %}
{% import 'organisims/child_container_sixty_percent_width.html' as child_container_sixty_percent_width with context %}
{% import 'organisims/graph_frame.html' as graph_frame with context %}
{% import 'molecules/text_with_heading.html' as text_with_heading  with context %}
{% import 'molecules/text_without_heading.html' as text_without_heading  with context %}
{% import 'molecules/callout.html' as callout with context %}
{% import 'molecules/link_view_datasource.html' as link_view_datasource with context %}
{% import 'atoms/divider.html' as divider with context %}
{% set title_text="Greenhouse gas emissions" %}

{% block title %}{{ title_text }}{% endblock %}

{% block content %}
  {% call indicator.render(title_text=title_text) %}
    <!-- content-first section   -->
    {% call page_container_plain.render() %}
      <!-- full width organism with items aligned to end -->
      {% call child_container_full_width_items_end.render() %}
        {% call child_container_sixty_percent_width.render() %}
          {% call text_without_heading.render() %}
            Climate change mitigation is an important target for the catchment,
            which has a strong focus on being a sustainable tourism
            destination9,10. The purpose of providing an emissions inventory as
            part of the monitoring framework is to determine significant sources
            of GHG emissions in the catchment, which, in turn, can help to
            prioritise mitigation efforts.
          {% endcall %}
        {% endcall %}
        <!-- graph frame organism-->
        {% call graph_frame.render(graph_title="GHG emissions by sector in 2022 for the catchment. Forestry emissions are based on the most recent LUCAS data (from 2016).") %}
          <!-- create_figure -->
        {% endcall %}
      {% endcall %}
    {% endcall %}

    <!-- divider section -->
    {% call page_container_plain.render() %}
      <!-- divider atom-->
      {{ divider.render(divider_width="border-b-2") }}
    {% endcall %}

    <!-- content-second section   -->
    {% call page_container_two_columns.render() %}
      <!--  left side organism -->
      {% call child_container_forty_percent_basis.render() %}
        <!--  text without heading molecule-->
        {% call text_without_heading.render() %}
          Emissions within the catchment have increased since 2020. for this
          sector were obtained from StatsNZ census.
        {% endcall %}
        {% call text_without_heading.render() %}
          The agriculture sector is the main contributor with 63% to the overall
          emissions of the catchment, followed by transport (31%). for this
          sector were obtained from StatsNZ census.
        {% endcall %}
        {% call text_without_heading.render() %}
          Agriculture emissions are dominated by the sheep, dairy, and beef
          industries. Data for this sector were obtained from StatsNZ census.
        {% endcall %}
      {% endcall %}
      <!-- right side organism -->
      {% call child_container_sixty_percent_basis.render() %}
        <!-- graph frame organism-->
        {% call graph_frame.render(graph_title="GHG emissions from the agriculture sector by industry.") %}
        {{ GhgAgri.create_figure().to_html(div_id="GhgAgri",full_html=False, include_plotlyjs=False, include_mathjax=false )|safe }}
        {% endcall %}
      {% endcall %}
    {% endcall %}

    <!-- divider section -->
    {% call page_container_plain.render() %}
      <!-- divider atom-->
      {{ divider.render(divider_width="border-b-2") }}
    {% endcall %}

    <!-- content-third section   -->
    {% call page_container_two_columns.render() %}
      <!-- left side organism -->
      {% call child_container_sixty_percent_basis.render() %}
        <!-- graph frame organism-->
        {% call graph_frame.render(graph_title="GHG Emissions from the energy sector by location.") %}
          <!-- create_figure -->
        {% endcall %}
      {% endcall %}
      <!--  right side organism -->
      {% call child_container_forty_percent_basis.render() %}
        <!--  text without heading molecule-->
        {% call text_without_heading.render() %}
          Each sector can be analysed in more detail to understand where the
          largest contributing activities or sources exist.
        {% endcall %}
        {% call text_without_heading.render() %}
          To align with national climate change commitments and targets and to
          alleviate concern from residents increase in GHG emissions needs to be
          addressed across the sectors and catchment.
        {% endcall %}
        <!-- call out molecule-->
        {% call callout.render(statistic_value="80%") %}
          According to a survey conducted by the QLDC 80% of residents in the
          catchment stated that they were “concerned” or “very concerned” about
          the potential impacts of climate change.
        {% endcall %}
      {% endcall %}
    {% endcall %}

    <!-- divider section -->
    {% call page_container_plain.render() %}
      <!-- divider atom-->
      {{ divider.render(divider_width="border-b-2") }}
    {% endcall %}

    <!-- content-fourth section   -->
    {% call page_container_plain.render() %}
      <!-- full width organism with items aligned to end -->
      {% call child_container_full_width_items_end.render() %}
        {% call child_container_sixty_percent_width.render() %}
          {% call text_without_heading.render() %}
          The forestry sector accounts for greenhouse gas removals in the catchment; as forests grow, they sequester carbon dioxide and act as a natural carbon sink. A small quantity of greenhouse gas emissions result from deforestation and harvesting of both natural and plantation forests: a loss of 10.3 ha of forestland in 2016 led to 9,500 tonnes of CO2e emitted to the atmosphere.
          {% endcall %}
        {% endcall %}
        <!-- graph frame organism-->
        {% call graph_frame.render(graph_title="GHG emissions and removals from the forestry sector.") %}
          <!-- create_figure -->
        {% endcall %}
      {% endcall %}
    {% endcall %}

    <!-- divider section -->
    {% call page_container_plain.render() %}
      <!-- divider atom-->
      {{ divider.render(divider_width="border-b-6") }}
    {% endcall %}
    
  {% endcall %}
{% endblock %}
