{% extends "base.html" %}
{% import 'templates/indicator.html' as indicator  with context %}
{% import 'organisims/page_container_plain.html' as page_container_plain  with context %}
{% import 'organisims/page_container_two_columns.html' as page_container_two_columns  with context %}
{% import 'organisims/child_container_forty_percent_basis.html' as child_container_forty_percent_basis  with context %}
{% import 'organisims/child_container_sixty_percent_basis.html' as child_container_sixty_percent_basis  with context %}
{% import 'organisims/child_container_full_width_items_end.html' as child_container_full_width_items_end  with context %}
{% import 'organisims/graph_frame.html' as graph_frame with context %}
{% import 'molecules/text_with_heading.html' as text_with_heading  with context %}
{% import 'molecules/text_without_heading.html' as text_without_heading  with context %}
{% import 'molecules/callout.html' as callout with context %}
{% import 'molecules/link_view_datasource.html' as link_view_datasource with context %}
{% import 'atoms/divider.html' as divider with context %}
{% set title_text="Land use change" %}

{% block title %}{{ title_text }}{% endblock %}

{% block content %}
  {% call indicator.render(title_text=title_text) %}
    <!-- content-first section   -->
    {% call page_container_two_columns.render() %}
      <!--  left side organism -->
      {% call child_container_forty_percent_basis.render() %}
        <!--  text without heading molecule-->
        {% call text_without_heading.render() %}
          Land use and land use change is a catchment-wide indicator assessing
          how we are using our land. Over half of the area of the catchment is
          categorised as “production grassland”, dominated by low producing
          grassland. Following grassland, the most common land uses in the
          catchment are forest land (16.6%), and grassland with woody biomass
          (11.0%). Built-up areas account for only 0.3% of the total area of the
          catchment.
        {% endcall %}
        <!-- call out molecule-->
        {% call callout.render(statistic_value="60%") %}
          Areas of built-up land have increased by 60% while the population
          increased four-fold since 1990.
        {% endcall %}
      {% endcall %}
      <!-- right side organism -->
      {% call child_container_sixty_percent_basis.render() %}
        <!-- graph frame organism-->
        {% call graph_frame.render(graph_title="Land use cover across the catchment in 2016.") %}
        {% endcall %}
      {% endcall %}
    {% endcall %}

    <!-- divider section -->
    {% call page_container_plain.render() %}
      <!-- divider atom-->
      {{ divider.render(divider_width="border-b-2") }}
    {% endcall %}

    <!-- content-second section   -->
    {% call page_container_two_columns.render() %}
      <!-- left side organism -->
      {% call child_container_forty_percent_basis.render() %}
        <!--  text without heading molecule-->
        {% call text_without_heading.render() %}
          Urban areas in Wānaka and Hāwea have increased since 1990. A majority
          of this new urbanised landscape resulted from converting productive
          grassland. However, total production grassland remained constant, due
          to conversion of grassland with woody biomass.
        {% endcall %}
      {% endcall %}
      <!--  right side organism -->
      {% call child_container_sixty_percent_basis.render() %}
        <!-- graph frame organism-->
        {% call graph_frame.render(graph_title="What was all this urbanised land before 1990?") %}
          {{ LandUseChangeBuildUp.create_figure().to_html(div_id="LandUseChangeBuildUp",full_html=False, include_plotlyjs=False, include_mathjax=false )|safe }}
        {% endcall %}
      {% endcall %}
    {% endcall %}

    <!-- divider section -->
    {% call page_container_plain.render() %}
      <!-- divider atom-->
      {{ divider.render(divider_width="border-b-2") }}
    {% endcall %}

    <!-- content-third section   -->
    {% call page_container_plain.render() %}
      <!-- full width organism with items aligned to end -->
      {% call child_container_full_width_items_end.render() %}
        <!-- graph frame organism-->
        {% call graph_frame.render(graph_title="Land Use Category") %}
        {% endcall %}
      {% endcall %}
    {% endcall %}

    <!-- two column organisims -->
    {% call page_container_two_columns.render() %}
      <!-- left side organism -->
      {% call child_container_forty_percent_basis.render() %}
        <!--  text without heading molecule-->
        {% call text_without_heading.render() %}
          Since 1990, there has been a net increase of 300 ha of forestland
          across the catchment. However, most of this has been through the
          growth of new exotic forest, while the cover of natural, indigenous
          forest has seen a net decline.
        {% endcall %}
      {% endcall %}
      <!--  right side organism -->
      {% call child_container_sixty_percent_basis.render() %}
        <!-- graph frame organism-->
        {% call graph_frame.render(graph_title="Land uses converted from forestland since 1990.") %}
          {{ LandUses.create_figure().to_html(div_id="landUses",full_html=False, include_plotlyjs=False, include_mathjax=false )|safe }}
        {% endcall %}
      {% endcall %}
    {% endcall %}

    <!-- divider section -->
    {% call page_container_plain.render() %}
      <!-- divider atom-->
      {{ divider.render(divider_width="border-b-2") }}
    {% endcall %}

    <!-- content-four section   -->
    {% call page_container_two_columns.render() %}
      <!--  left side organism -->
      {% call child_container_forty_percent_basis.render() %}
        <!--  text with heading molecule-->
        {% call text_with_heading.render(subhead_01_text="Forest Cover") %}
          To understand the current land use and land use change practices, a
          more recent dataset from 2008 to 2018 was analysed, showing a gross
          increase in exotic forest cover of 71 ha, which mainly is a result of
          the conversion of production grassland (52 ha). 52 ha account for
          0.02% of the total production grassland available in the catchment. A
          gross decrease in indigenous forest cover of 69 ha is observed between
          2008 and 2018.
        {% endcall %}

        <!-- call out -->
        {% call callout.render(statistic_value="<0.2%") %}
          Indigenous forest cover has decreased by &lt;0.2% between 2008 and
          2018.
        {% endcall %}
        {% call text_without_heading.render() %}
          Most of the loss of indigenous forest that took place between 2008 and
          2018 was the result of landslides in the high alpine1, rather than a
          direct impact of anthropogenic activities. While indigenous forest is
          not under particular threat, other native vegetation classes, such as
          fernlands, have seen significant reductions in land cover: fernland
          decreased by 1,500 ha.
        {% endcall %}
      {% endcall %}
      <!-- right side organism -->
      {% call child_container_sixty_percent_basis.render() %}
        <!-- graph frame organism-->
        {% call graph_frame.render(graph_title="Land uses converted into exotic forest between 2008 and 2018.") %}
          {{ LandUseChangeExoticForest.create_figure().to_html(div_id="LandUseChangeExoticForest",full_html=False, include_plotlyjs=False, include_mathjax=false )|safe }}
        {% endcall %}
      {% endcall %}
    {% endcall %}
  {% endcall %}
{% endblock %}
