{% extends "base.html" %}
{% import 'templates/basic.html' as basic  with context %}
{% import 'organisims/page_container_plain.html' as page_container_plain  with context %}
{% import 'organisims/page_container_two_columns.html' as page_container_two_columns  with context %}
{% import 'organisims/child_container_forty_percent_basis.html' as child_container_forty_percent_basis  with context %}
{% import 'organisims/child_container_sixty_percent_basis.html' as child_container_sixty_percent_basis  with context %}
{% import 'organisims/child_container_full_width_items_end.html' as child_container_full_width_items_end  with context %}
{% import 'organisims/flyout.html' as flyout with context %}
{% import 'organisims/graph_frame.html' as graph_frame with context %}
{% import 'organisims/graph_container_small.html' as graph_container_small with context %}
{% import 'organisims/graph_container_medium.html' as graph_container_medium with context %}
{% import 'organisims/table_container.html' as table_container with context %}
{% import 'organisims/table_container.html' as table_container with context %}
{% import 'organisims/reference.html' as reference  with context %}
{% import 'molecules/reference_item.html' as reference_item  with context %}
{% import 'molecules/text_with_heading.html' as text_with_heading  with context %}
{% import 'molecules/text_without_heading.html' as text_without_heading  with context %}
{% import 'molecules/callout.html' as callout with context %}
{% import 'molecules/link_view_datasource.html' as link_view_datasource with context %}
{% import 'atoms/divider.html' as divider with context %}
{% import 'atoms/subhead_01_textstyle.html' as subhead_01_textstyle with context %}
{% import 'molecules/datasource_item.html' as datasource_item with context %}
{% set title_text="Land use change" %}

{% block title %}{{ title_text }}{% endblock %}

{% block content %}
  {% call basic.render(title_text=title_text) %}
    <!-- content-first section   -->
    {% call page_container_two_columns.render() %}
      <!--  left side organism -->
      {% call child_container_forty_percent_basis.render() %}
        <!--  text without heading molecule-->
        {% call text_without_heading.render() %}
          Land use and land use change are catchment-wide indicators assessing
          how we are using our land. Over half of the area of the catchment is
          categorised as “production grassland”, dominated by low producing
          grassland. Following grassland, the most common land uses in the
          catchment are forest land (16.6%), and grassland with woody biomass
          (11.0%). Built-up areas account for only 0.3% of the total area of the
          catchment.
        {% endcall %}
        <!-- call out molecule-->
        {% call callout.render(statistic_value="60%") %}
          Areas of built-up land have increased by 60% while the population
          increased four-fold since 1990.
        {% endcall %}
      {% endcall %}
      <!-- right side organism -->
      {% call child_container_sixty_percent_basis.render() %}
        <!-- graph frame organism-->
        {% call(content) graph_frame.render(graph_title="Land use cover across the catchment in 2016.",flyout_id="placeholder3") %}
          {% if content == 'flyout' %}
            {% call flyout.render(flyout_id="placeholder3") %}
              {% call datasource_item.render(link="https://data.mfe.govt.nz/layer/52375-lucas-nz-land-use-map-1990-2008-2012-2016-v011/)",link_title="MfE Data Service") %}
                Data were obtained from the Land Use and Coverage Area frame
                Survey (LUCAS) data set
              {% endcall %}
            {% endcall %}
          {% endif %}
          {% if content == 'graph' %}
            <img
              src="/static/images/maps/map_landuse.svg"
              alt="Landuse Map"
              title="Landuse Map"
            />
          {% endif %}
        {% endcall %}
      {% endcall %}
    {% endcall %}

    <!-- divider section -->
    {% call page_container_plain.render() %}
      <!-- divider atom-->
      {{ divider.render(divider_width="border-b-2") }}
    {% endcall %}

    <!-- content-second section   -->
    {% call page_container_two_columns.render() %}
      <!-- left side organism -->
      {% call child_container_forty_percent_basis.render() %}
        <!--  text without heading molecule-->
        {% call text_without_heading.render() %}
          Urban areas in Wānaka and Hāwea have increased since 1990. Primarily
          through the conversion of productive grassland. Despite this
          conversion, the total area of production grassland remained the same,
          as grassland with woody biomass has been converted to production
          grassland.
        {% endcall %}
      {% endcall %}
      <!--  right side organism -->
      {% call child_container_sixty_percent_basis.render() %}
        <!-- graph frame organism-->
        {% call(content) graph_frame.render(graph_title="Land use categories before 1990",flyout_id="flyout_LandUseChangeBuildUp") %}
          {% if content == 'flyout' %}
            {% call flyout.render(flyout_id="flyout_LandUseChangeBuildUp") %}
              {% call datasource_item.render(link="https://data.mfe.govt.nz/layer/52375-lucas-nz-land-use-map-1990-2008-2012-2016-v011/)",link_title="MfE Data Service") %}
                Data were obtained from the Land Use and Coverage Area frame
                Survey (LUCAS) data set
              {% endcall %}
            {% endcall %}
          {% endif %}
          {% if content == 'graph' %}
            {% call graph_container_small.render() %}
              {{ LandUseChangeBuildUp.create_figure().to_html(div_id="LandUseChangeBuildUp",full_html=False, include_plotlyjs=False, include_mathjax=false )|safe }}
            {% endcall %}
          {% endif %}
        {% endcall %}
      {% endcall %}
    {% endcall %}

    <!-- divider section -->
    {% call page_container_plain.render() %}
      <!-- divider atom-->
      {{ divider.render(divider_width="border-b-2") }}
    {% endcall %}

    <!-- content-third section   -->
    {% call page_container_plain.render() %}
      <!-- full width organism with items aligned to end -->
      {% call child_container_full_width_items_end.render() %}
        <!-- graph frame organism-->
        {% call(content) graph_frame.render(graph_title="Total area by land use category for the catchment and their changes since 1990 (in hectares).",flyout_id="placeholder4") %}
          {% if content == 'flyout' %}
            {% call flyout.render(flyout_id="placeholder4") %}
              {% call datasource_item.render(link="https://data.mfe.govt.nz/layer/52375-lucas-nz-land-use-map-1990-2008-2012-2016-v011/)",link_title="MfE Data Service") %}
                Data were obtained from the Land Use and Coverage Area frame
                Survey (LUCAS) data set
              {% endcall %}
            {% endcall %}
          {% endif %}
          {% if content == 'graph' %}
            {% call table_container.render() %}
              <thead>
                <tr>
                  <th scope="col" class="py-3 px-6">Land Use Category</th>
                  <th scope="col" class="py-3 px-6">2016 (ha)</th>
                  <th scope="col" class="py-3 px-6">
                    Net change since 1990 (ha)
                  </th>
                </tr>
              </thead>
              <tbody class="text-black">
                <tr class="border-b-2 border-white">
                  <td class="py-4 px-6 bg-grey-500">Forest</td>
                  <td class="py-4 px-6 bg-grey-300 text-center">76,000</td>
                  <td class="py-4 px-6 bg-neutral-100 text-center">392</td>
                </tr>
                <tr class="border-b-2 border-white">
                  <td class="py-4 px-6 bg-grey-500">
                    Grassland with woody biomass
                  </td>
                  <td class="py-4 px-6 bg-grey-300 text-center">50,500</td>
                  <td class="py-4 px-6 bg-neutral-100 text-center">-932</td>
                </tr>
                <tr class="border-b-2 border-white">
                  <td class="py-4 px-6 bg-grey-500">Production grassland</td>
                  <td class="py-4 px-6 bg-grey-300 text-center">247,800</td>
                  <td class="py-4 px-6 bg-neutral-100 text-center">35</td>
                </tr>
                <tr class="border-b-2 border-white">
                  <td class="py-4 px-6 bg-grey-500">Cropland</td>
                  <td class="py-4 px-6 bg-grey-300 text-center">1,100</td>
                  <td class="py-4 px-6 bg-neutral-100 text-center">-18</td>
                </tr>
                <tr class="border-b-2 border-white">
                  <td class="py-4 px-6 bg-grey-500">Wetland</td>
                  <td class="py-4 px-6 bg-grey-300 text-center">39,400</td>
                  <td class="py-4 px-6 bg-neutral-100 text-center">-21</td>
                </tr>
                <tr class="border-b-2 border-white">
                  <td class="py-4 px-6 bg-grey-500">Built-up area</td>
                  <td class="py-4 px-6 bg-grey-300 text-center">1,400</td>
                  <td class="py-4 px-6 bg-neutral-100 text-center">551</td>
                </tr>
                <tr class="border-b-2 border-white">
                  <td class="py-4 px-6 bg-grey-500">Other</td>
                  <td class="py-4 px-6 bg-grey-300 text-center">42,600</td>
                  <td class="py-4 px-6 bg-neutral-100 text-center">-7</td>
                </tr>
              </tbody>
            {% endcall %}
          {% endif %}
        {% endcall %}
      {% endcall %}
    {% endcall %}

    <!-- two column organisims -->
    {% call page_container_two_columns.render() %}
      <!-- left side organism -->
      {% call child_container_forty_percent_basis.render() %}
        <!--  text without heading molecule-->
        {% call text_without_heading.render() %}
          Since 1990, there has been a net increase of 392 ha of forestland
          across the catchment.Most of this increase has been through the growth
          of new exotic forest. The cover of natural, indigenous forest has seen
          a net decline.
        {% endcall %}
      {% endcall %}
      <!--  right side organism -->
      {% call child_container_sixty_percent_basis.render() %}
        <!-- graph frame organism-->
        {% call(content) graph_frame.render(graph_title="Land uses converted from forestland since 1990.",flyout_id="flyout_landUses") %}
          {% if content == 'flyout' %}
            {% call flyout.render(flyout_id="flyout_landUses") %}
              {% call datasource_item.render(link="https://data.mfe.govt.nz/layer/52375-lucas-nz-land-use-map-1990-2008-2012-2016-v011/)",link_title="MfE Data Service") %}
                Data were obtained from the Land Use and Coverage Area frame
                Survey (LUCAS) data set
              {% endcall %}
            {% endcall %}
          {% endif %}
          {% if content == 'graph' %}
            {% call graph_container_medium.render() %}
              {{ LandUses.create_figure().to_html(div_id="landUses",full_html=False, include_plotlyjs=False, include_mathjax=false )|safe }}
            {% endcall %}
          {% endif %}
        {% endcall %}
      {% endcall %}
    {% endcall %}

    <!-- divider section -->
    {% call page_container_plain.render() %}
      <!-- divider atom-->
      {{ divider.render(divider_width="border-b-2") }}
    {% endcall %}

    <!-- content-four section   -->
    {% call page_container_two_columns.render() %}
      <!--  left side organism -->
      {% call child_container_forty_percent_basis.render() %}
        <!--  text with heading molecule-->
        {% call text_with_heading.render(subhead_01_text="Forest Cover") %}
          To understand the current land use and land use change practices, a
          more recent dataset from 2008 to 2018 was analysed, showing a gross
          increase in exotic forest cover of 71 ha.This increase results from
          the conversion of production grassland (52 ha). 52 ha account for
          0.02% of the total production grassland available in the catchment. A
          gross decrease in indigenous forest cover of 69 ha is observed between
          2008 and 2018.
        {% endcall %}

        <!-- call out -->
        {% call callout.render(statistic_value="<0.2%") %}
          Indigenous forest cover has decreased by &lt;0.2% between 2008 and
          2018.
        {% endcall %}
        {% call text_without_heading.render() %}
          Most of the loss of indigenous forest that took place between 2008 and
          2018 was the result of landslides in the high alpine<sup>1</sup>,
          rather than a direct impact of anthropogenic activities. While
          indigenous forest is not under particular threat, other native
          vegetation classes have seen significant reductions in land cover.For
          example, fernlands decreased by 1,500 ha.
        {% endcall %}
      {% endcall %}
      <!-- right side organism -->
      {% call child_container_sixty_percent_basis.render() %}
        <!-- graph frame organism-->
        {% call(content) graph_frame.render(graph_title="Land uses converted into exotic forest between 2008 and 2018.",flyout_id="flyout_LandUseChangeExoticForest") %}
          {% if content == 'flyout' %}
            {% call flyout.render(flyout_id="flyout_LandUseChangeExoticForest") %}
              {% call datasource_item.render(link="https://lris.scinfo.org.nz/layer/104400-lcdb-v50-land-cover-database-version-50-mainland-new-zealand/",link_title="LDCB-LRIS Portal") %}
                Data were obtained from the New Zealand Land Cover Database
              {% endcall %}
            {% endcall %}
          {% endif %}
          {% if content == 'graph' %}
            {% call graph_container_small.render() %}
              {{ LandUseChangeExoticForest.create_figure().to_html(div_id="LandUseChangeExoticForest",full_html=False, include_plotlyjs=False, include_mathjax=false )|safe }}
            {% endcall %}
          {% endif %}
        {% endcall %}
      {% endcall %}
    {% endcall %}

    <!-- divider section -->
    {% call page_container_plain.render() %}
      <!-- divider atom-->
      {{ divider.render(divider_width="border-b-2") }}
    {% endcall %}

    {% call page_container_plain.render() %}
      {% call reference.render() %}
        {% call subhead_01_textstyle.render() %}
          Reference
        {% endcall %}
        {% call reference_item.render(url="https://lris.scinfo.org.nz/layer/104400-lcdb-v50-land-cover-database-version-50-mainland-new-zealand/",name=" LRIS Portal",additional_info=", last accessed Jan 2024.") %}
          [1] Land Cover Database version 5.0, Mainland, New Zealand &minus;
          available from the
        {% endcall %}
      {% endcall %}
    {% endcall %}
  {% endcall %}
{% endblock %}
