{% extends "base.html" %}
{% import 'templates/indicator.html' as indicator  with context%}
{% import 'organisims/page_container_plain.html' as page_container_plain  with context%}
{% import 'organisims/page_container_two_columns.html' as page_container_two_columns  with context%}
{% import 'organisims/page_container_one_column.html' as page_container_one_column  with context%}
{% import 'organisims/title.html' as title  with context%}
{% import 'molecules/desc_with_heading.html' as desc_with_heading  with context%}
{% import 'organisims/callout.html' as callout with context%}
{% import 'organisims/header.html' as header  with context%}
{% import 'organisims/callout_bottom.html' as callout_bottom with context%}
{% import 'atoms/divider.html' as divider with context%}
{% import 'molecules/link_view_datasource.html' as link_view_datasource with context%}
{% import 'organisims/graph_frame.html' as graph_frame with context%}

{% set title_text="Land use change" %}
{% block title %}{{ title_text }}{% endblock %}
   
{% block content %}
  {% call indicator.render(title_text=title_text) %}
  <main>
    <!-- content-one section   -->
    {% call page_container_two_columns.render() %}
      <!--  left side organism -->
      {% call page_container_one_column.render(flex_basis="basis-2/5") %}
        <div class="flex-col justify-start items-start gap-7 flex">
          {% call desc_with_heading.render(subhead_01_text="subhead_01") %}
          Since 1990, there has been a net increase of 300 ha of forestland
          across the catchment. However,
          most of this has been through the
          growth of new exotic forest, while
          the cover of natural, indigenous
          forest has seen a net decline.
          {% endcall %}
        </div>

        {% call callout_bottom.render() %}
        To understand the current land use
        and land use change practices, a
        more recent dataset from 2008 to
        2018 was analysed, showing a gross
        increase in exotic forest cover of 71
        ha, which mainly is a result of the
        conversion of production grassland
        (52 ha). 52 ha account for 0.02% of
        the total production grassland
        available in the catchment. 
        {% endcall %}

        {% call callout_bottom.render() %}
        A gross decrease in indigenous
        forest cover of 69 ha is observed
        between 2008 and 2018.
        {% endcall %}


      {% endcall %}
      
      <!-- right side organism -->
      {% call page_container_one_column.render(flex_basis="basis-3/5") %}
          {% call graph_frame.render(graph_title="Land uses converted into exotic forest between 2008 and 2018.") %}
          <!--{{ create_figure().to_html(div_id="landUses",full_html=False, include_plotlyjs=False, include_mathjax=false )|safe  }} -->
          {% endcall %}
      {% endcall %}
    {% endcall %}


    {% call page_container_plain.render() %}
      <!-- divider atom-->
      {{divider.render(divider_width="border-b-2")}}
    {%endcall%}

    <!-- content-two section   -->
    {% call page_container_two_columns.render() %}
      <!-- left side organism -->
      {% call page_container_one_column.render(flex_basis="basis-3/5") %}
        {% call graph_frame.render(graph_title="Land uses converted from forestland since 1990.") %}
        <!--{{ create_figure().to_html(div_id="landUses",full_html=False, include_plotlyjs=False, include_mathjax=false )|safe  }} -->
        {% endcall %}
      {% endcall %}
        <!--  right side organism -->
        {% call page_container_one_column.render(flex_basis="basis-2/5",position="end") %}
        <div class="flex-col justify-start items-start gap-7 flex">
          {% with %}
          {% set body %}Indigenous forest cover has decreased by between 2008 and 2018.
          {% endset %}
          {% call callout.render(value="<0.2",body=body,color="bg-dark-blue-900") %}
          {% endcall %}
        {% endwith %}
          {% call desc_with_heading.render(subhead_01_text="subhead_01") %}
          Most of the loss of indigenous forest
          that took place between 2008 and
          2018 was the result of landslides in
          the high alpine1
          , rather than a direct
          impact of anthropogenic activities.
          While indigenous forest is not under
          particular threat, other native
          vegetation classes, such as
          fernlands, have seen significant
          reductions in land cover: fernland
          decreased by 1,500 ha.
          {% endcall %}
        </div>



      {% endcall %}
    {% endcall %}

     <!-- divider section -->
    {% call page_container_plain.render(margin_bottom="mb-16") %}
      <!-- divider atom-->
      {{divider.render(divider_width="border-b-6")}}
    {%endcall%}

  </main>

  {% endcall %}
{% endblock %}
  

   
