{% import 'atoms/statistic.html' as statistic with context%}
{% import 'atoms/callout_copytext.html' as callout_copytext with context%}

{% macro render(value, body="",color="bg-dark-blue-900") -%} 
{%set parent_caller=caller()%}


 <div class="{{color}} rounded-3xl">
  <div  class="flex flex-col justify-center items-center gap-10 p-16">
    <div class="w-96">{% call statistic.render() %} {{ value }}% {% endcall %}</div>
    <div class="w-96">
      {% call callout_copytext.render() %} 
         {{ body }}
      {% endcall %}
    </div>
  </div>
</div>


{%- endmacro %}
