{% import 'atoms/statistic.html' as statistic with context%}
{% import 'atoms/callout_copytext.html' as callout_copytext with context%}

{% macro render(value, body="") -%} 
{%set parent_caller=caller()%}

<!-- divider -->
<div class="border-b-2 w-128 border-dashed"></div>
<div class="flex-col justify-start items-center xl:gap-48 md:gap-28 sm:gap-0 flex">
  <div class="flex-col justify-start items-start gap-12 flex">
    <div class="w-128">{% call statistic.render() %} {{ value }}% {% endcall %}</div>
    <div class="w-96">
      {% call callout_copytext.render() %} 
         {{ body }}
      {% endcall %}
    </div>
  </div>
</div>

<!-- divider -->
<div class="border-b-2 w-128 border-dashed"></div>
{%- endmacro %}
