{% import 'atoms/logo_wai_wanaka.html' as logo_wai_wanaka with context %}
{% import 'atoms/footer_02_textstyle.html' as footer_02_textstyle with context %}
{% import 'atoms/divider.html' as divider with context %}
{% import 'atoms/link_plain.html' as link_plain with context %}
{% import 'atoms/logo_frame.html' as logo_frame with context %}

{%- macro render() -%} 
<div class="flex justify-between items-end xl:border-t-6 border-t-4 border-grey-900 w-full pt-10 xl:pt-16 lg:pt-12 md:pt-4 rounded">
  <!-- wai wanaka logo -->
  {% call logo_frame.render() %}
    {% call logo_wai_wanaka.render() %}
    {% endcall %}
  {% endcall %}
  <!-- wai wanaka link-->
  {% call link_plain.render(url="https://waiwanaka.nz/") %}
    {% call footer_02_textstyle.render() %}
      waiwanaka.nz
    {% endcall %}
  {% endcall %}
</div>
  <!--  placeholder -->
  {{ caller() }}
{%- endmacro -%}
