{% import 'molecules/link_view_datasource.html' as link_view_datasource with context%}

{% macro render(graph_title="") -%} 
{%set parent_caller=caller()%}
<!-- Top bar: view datasource link -->
<div class="w-full rounded-t-3xl">
    <div class="rounded-t-3xl bg-light-grey h-192 w-full">{{link_view_datasource.render()}}</div>

</div>

<!-- Middle: graph -->
{{parent_caller}}
<!--{{ create_figure().to_html(div_id="landUses",full_html=False, include_plotlyjs=False, include_mathjax=false )|safe  }} -->

<!-- bottom bar -->
<div
class="px-12 py-6 bg-white rounded-b-3xl flex justify-start items-center gap-2.5 border-x-4 border-b-4 border-light-grey"
>
    <div
        class=" text-black text-caption font-medium font-inter leading-tight"
    >
    {{graph_title}}
    </div>
</div>

{%- endmacro %}
