{% import 'molecules/view_datasource.html' as view_datasource with context %}
{% import 'atoms/caption_textstyle.html' as caption_textstyle with context %}

{%- macro render(graph_title="",flyout_id="drawer-disabled-backdrop",graph_container="") -%}
  {% set  parent_caller1 = caller('flyout') %}
  {% set  parent_caller2 = caller('graph') %}
  <div class="flex flex-col gap-0 w-full">
    <div class="w-full relative overflow-hidden">
      <!-- flyout body -->
      {{ parent_caller1 }}
      <!-- Top bar: view datasource link -->
      <div class="w-full">
        <div class=" bg-light-grey w-full px-12 py-6 rounded-t-3xl">
          <!-- flyout button -->
          {% call view_datasource.render(flyout_id) %}
          {% endcall %}
        </div>
      </div>

      <!-- Middle: graph -->
      {{ parent_caller2 }}
    </div>
    <!-- bottom bar -->
    <div
      class="w-full px-12 py-6 bg-white rounded-b-3xl flex justify-start items-center gap-2.5 border-x-4 border-b-4 border-light-grey"
    >
      {% call caption_textstyle.render() %}
        {{ graph_title|safe }}
      {% endcall %}
    </div>
  </div>
{%- endmacro -%}
