{% import 'molecules/navigation_primary.html' as navigation_primary  with context %}
{% import 'molecules/navigation_secondary.html' as navigation_secondary with context %}
{% import 'atoms/button_hamburger.html' as button_hamburger  with context %}
{% import 'atoms/button_information.html' as button_information  with context %}
{% import 'molecules/navigation_primary_item_regualr.html' as navigation_primary_item_regualr with context %}
{% import 'atoms/link_plain.html' as link_plain with context %}

{%- macro render() -%}
  <div class="flex justify-between items-center w-full">
    <!-- wai wanaka logo -->
    {% call link_plain.render(url="https://waiwanaka.nz/") %}
      <div class="w-full object-fill h-12 xl:h-20 lg:h-18 md:h-16  ">
        <img
          src="/static/images/icons/wai_wanaka_logo.svg"
          alt="Wai wanaka logo"
          title="Wai wanaka logo"
          class="w-full h-full object-fill"
        />
      </div>
    {% endcall %}
    <div
      class="relative w-full flex flex-wrap flex-row-reverse items-center justify-between mx-auto"
    >
      <!-- hamburger button-->
      <div class="flex flex-col lg:order-2 ">
        {% call button_hamburger.render(flyout_id="nav_panel") %}
        {% endcall %}
        {% call button_information.render(flyout_id="help_panel") %}
        {% endcall %}
      </div>
    </div>
    {{ caller() }}
  </div>
{%- endmacro -%}
