
{% import 'molecules/navigation_primary.html' as navigation_primary  with context %}
{% import 'molecules/navigation_secondary.html' as navigation_secondary with context %}
{% import 'atoms/button_hamburger.html' as button_hamburger  with context %}
{% import 'molecules/navigation_primary_item_regualr.html' as navigation_primary_item_regualr with context %}

{%- macro render() -%}
  {% set  parent_caller1 = caller('navigation_secondary') %}
  {% set  parent_caller2 = caller('navigation_primary') %}

  <!-- header organism -->
  <div class="flex bg-white border-gray-200 rounded dark:bg-gray-900">
    <div
      class="w-full flex flex-wrap flex-row-reverse items-center justify-between mx-auto
    md:items-center relative h-[85px] md:h-[118px] lg:h-[157px] xl:h-[196px] border-b-4 border-grey-900 md:border-none"
    >
      <!-- icon list -->
      {% call navigation_secondary.render() %}
        {{ parent_caller1 }}
      {% endcall %}
      <!-- divider-->
      <div
        class="w-full md:border-b-4 xl:border-b-6  mt-20 absolute bottom-[40%] mx-auto h-auto z-0 rounded-full border-grey-900"
      ></div>
      <!-- hamburger button-->
      <div class="flex lg:order-2 md:hidden">
        {% call button_hamburger.render() %}
        {% endcall %}
      </div>
      <nav
      class="md:flex hidden items-center justify-between w-full md:w-[40%] md:order-1 md:ml-[3%] md:h-[22%] xl:mb-7 lg:mb-6 md:mb-5"
      id="navbar-cta"
    >
      <!--  navigation_primary list -->
        {% call navigation_primary.render() %}
          <!-- navigation_primary item -->
          {{ parent_caller2 }}
        {% endcall %}
    </div>
  </nav>
  </div>
{%- endmacro -%}
