{% import 'atoms/subhead_02_textstyle.html' as subhead_02_textstyle with context %}

{%- macro render(flyout_id="drawer-disabled-backdrop") -%}
  {% set  parent_caller = caller() %}
  <!-- drawer component -->
  <div
    id="{{ flyout_id }}"
    class="flyout fixed top-0 right-0 z-40 w-[80%] md:w-[50%] transition-transform translate-x-full h-full p-8 overflow-y-auto  bg-grey-900/95  rounded-l-3xl"
    tabindex="-1"
    aria-labelledby="{{ flyout_id }}-label"
    aria-hidden="true"
  >
    <button
      type="button"
      data-drawer-hide="{{ flyout_id }}"
      aria-controls="{{ flyout_id }}"
      class="text-white bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white"
    >
      <svg
        class="w-3 h-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
        />
      </svg>
      <span class="sr-only">Close menu</span>
    </button>
    <div class="py-4 overflow-y-auto">
        {{ parent_caller }}
    </div>
  </div>
{%- endmacro -%}
