{% import 'atoms/subhead_01.html' as subhead_01 with context%}
{% import 'atoms/copytext.html' as copytext with context%}

{% macro render(value, body="") -%} 
{%set parent_caller=caller()%}


 <div class="bg-dark-blue-900 rounded-3xl">
  <div  class="flex flex-col justify-center items-center gap-10 p-16">
    <div class="w-96">{% call statistic.render() %} {{ value }}% {% endcall %}</div>
    <div class="w-96">
      {% call callout_copytext.render() %} 
         {{ body }}
      {% endcall %}
    </div>
  </div>
</div>




{%- endmacro %}
