{% import 'atoms/icon.html' as icon with context%}

{% macro render(value, body="") -%} 
{%set parent_caller=caller()%}
<div class="flex justify-end flex-row relative ">
  <div
    class="flex flex-row gap-0.5 justify-center items-start bg-white z-10 mr-16 px-1"
  >
      {% call icon.render(badge_background_color="bg-light-grey",badge_height="",svg_position="mt-16",svg_fill="black") %} 
      {{ body }}
      {% endcall %}

      {% call icon.render(badge_background_color="bg-grey-900",badge_height="padding-block-20",svg_position="mt-28",svg_fill="white") %} 
      {{ body }}
      {% endcall %}

      {% call icon.render(badge_background_color="bg-light-grey",badge_height="",svg_position="mt-16",svg_fill="black") %} 
      {{ body }}
      {% endcall %}

      {% call icon.render(badge_background_color="bg-light-grey",badge_height="",svg_position="mt-16",svg_fill="black") %} 
      {{ body }}
      {% endcall %}

      {% call icon.render(badge_background_color="bg-grey-900",badge_height="padding-block-20",svg_position="mt-28",svg_fill="white") %} 
      {{ body }}
      {% endcall %}

      {% call icon.render(badge_background_color="bg-grey-900",badge_height="padding-block-20",svg_position="mt-28",svg_fill="white") %} 
      {{ body }}
      {% endcall %}
  </div>

  <!-- divider -->
  <div class="border-b-6 mb-12 mt-20 absolute bottom-1/4 container mx-auto h-auto z-0"></div>

</div>
{%- endmacro %}
