{% import 'atoms/icon_badge_short.html' as icon_badge_short with context %}
{% import 'atoms/icon_badge_long.html' as icon_badge_long with context %}
{% import 'atoms/icon_land_use_change.html' as icon_land_use_change with context %}
{% import 'atoms/icon_water_quality.html' as icon_water_quality with context %}
{% import 'atoms/icon_invasive_speicies.html' as icon_invasive_speicies with context %}
{% import 'atoms/icon_greenhouse_gas_emissions.html' as icon_greenhouse_gas_emissions with context %}
{% import 'atoms/icon_climate_variables.html' as icon_climate_variables with context %}
{% import 'atoms/icon_social_wellbeing.html' as icon_social_wellbeing with context %}

{%- macro render() -%}
    <div
      class="flex flex-row gap-0.5 justify-center lg:items-start items-1/4 lg:bg-white z-10 mr-[3%] px-1 lg:w-[45%] h-full"
    >
      {% call icon_badge_short.render(badge_background_color="bg-light-grey") %}
        {{ icon_land_use_change.render(svg_fill="black") }}
      {% endcall %}

      {% call icon_badge_long.render(badge_background_color="bg-grey-900") %}
        {{ icon_water_quality.render(svg_fill="white") }}
      {% endcall %}

      {% call icon_badge_short.render(badge_background_color="bg-light-grey") %}
        {{ icon_invasive_speicies.render(svg_fill="black") }}
      {% endcall %}

      {% call icon_badge_short.render(badge_background_color="bg-light-grey") %}
        {{ icon_greenhouse_gas_emissions.render(svg_fill="black") }}
      {% endcall %}

      {% call icon_badge_long.render(badge_background_color="bg-grey-900") %}
        {{ icon_climate_variables.render(svg_fill="white") }}
      {% endcall %}

      {% call icon_badge_long.render(badge_background_color="bg-grey-900") %}
        {{ icon_social_wellbeing.render(svg_fill="white") }}
      {% endcall %}
    </div>
{%- endmacro -%}
