{% import 'atoms/icon_badge.html' as icon_badge with context%}
{% import 'atoms/icon_land_use_change.html' as icon_land_use_change with context%}
{% import 'atoms/icon_water_quality.html' as icon_water_quality with context%}
{% import 'atoms/icon_invasive_speicies.html' as icon_invasive_speicies with context%}
{% import 'atoms/icon_greenhouse_gas_emissions.html' as icon_greenhouse_gas_emissions with context%}
{% import 'atoms/icon_climate_variables.html' as icon_climate_variables with context%}
{% import 'atoms/icon_social_wellbeing.html' as icon_social_wellbeing with context%}



{% macro render() -%} 
{%set parent_caller=caller()%}

<div class="flex justify-end flex-row relative ">
  <div
    class="flex flex-row gap-0.5 justify-center items-start bg-white z-10 mr-[10%] px-1"
  >
      {% call icon_badge.render(badge_background_color="bg-light-grey",badge_height="") %} 
      {{ icon_land_use_change.render(svg_position="mt-16",svg_fill="black") }}
      {% endcall %}

      {% call icon_badge.render(badge_background_color="bg-grey-900",badge_height="padding-block-20") %} 
      {{ icon_water_quality.render(svg_position="mt-28",svg_fill="white") }}
      {% endcall %}

      {% call icon_badge.render(badge_background_color="bg-light-grey",badge_height="") %} 
      {{ icon_invasive_speicies.render(svg_position="mt-16",svg_fill="black") }}
      {% endcall %}

      {% call icon_badge.render(badge_background_color="bg-light-grey",badge_height="") %} 
      {{ icon_greenhouse_gas_emissions.render(svg_position="mt-16",svg_fill="black") }}
      {% endcall %}

      {% call icon_badge.render(badge_background_color="bg-grey-900",badge_height="padding-block-20") %} 
      {{ icon_climate_variables.render(svg_position="mt-28",svg_fill="white") }}
      {% endcall %}

      {% call icon_badge.render(badge_background_color="bg-grey-900",badge_height="padding-block-20") %} 
      {{ icon_social_wellbeing.render(svg_position="mt-28",svg_fill="white") }}
      {% endcall %}
  </div>

  <!-- divider -->
  <div class="border-b-6 mb-12 mt-20 absolute bottom-1/4 container mx-auto h-auto z-0"></div>

</div>
{%- endmacro %}
