{% import 'atoms/icon_view_data_source.html' as icon_view_data_source with context %}
{% import 'atoms/footer_02_textstyle.html' as footer_02_textstyle with context %}
{% import 'atoms/footer_textstyle.html' as footer_textstyle with context %}

{%- macro render() -%}
  <a class="flex flex-row gap-4 items-center justify-start" href="#"
    >{{ icon_view_data_source.render() }}
    {% call footer_textstyle.render() %}
      &lt;
    {% endcall %}
    {% call footer_02_textstyle.render() %}
      view data source
    {% endcall %}
  </a>

  <!-- placeholder -->
  {{ caller() }}
{%- endmacro -%}
