{% import 'atoms/body_textstyle.html' as body_textstyle with context %}
{% import 'atoms/link_textstyle.html' as link_textstyle with context %}
{% import 'atoms/link_plain.html' as link_plain with context %}
{%- macro render(url="#") -%}
  {% set parent_caller = caller() %}
  <li class="">
    {% call body_textstyle.render() %}
      {{ parent_caller }}
    {% endcall %}
    {% call link_plain.render(url) %}
      {% call link_textstyle.render() %}
        {{ url }}
      {% endcall %}
    {% endcall %}
  </li>
{%- endmacro -%}
