{% import 'atoms/footer_02_textstyle.html' as footer_02_textstyle with context %}
{% import 'atoms/footer_textstyle.html' as footer_textstyle with context %}
{% import 'molecules/icon_frame.html' as icon_frame with context %}

{%- macro render(flyout_id="drawer-disabled-backdrop") -%}
  <!-- drawer init and toggle -->
  <button
    class="flex flex-row gap-4 items-center justify-start"
    type="button"
    data-drawer-target="{{ flyout_id }}"
    data-drawer-show="{{ flyout_id }}"
    data-drawer-backdrop="false"
    data-drawer-placement="left"
    aria-controls="{{ flyout_id }}"
    data-drawer-body-scrolling="true"
  >
    {% call icon_frame.render() %}
      <img
        src="/static/images/icons/icon_data_source.svg"
        alt="Data source"
        title="Data source"
      />
    {% endcall %}
    {% call footer_textstyle.render() %}
      &lt;
    {% endcall %}
    {% call footer_02_textstyle.render() %}
      view data source
    {% endcall %}
  </button>

  <!-- placeholder -->
  {{ caller() }}
{%- endmacro -%}
