.visualisation{
    display: grid;
    grid-template-columns:2fr 3fr;
    height:30rem
}
/* .description{
    padding-left: 6.4rem;
} */

.pie_chart,.description{
    align-self: center;
    justify-self: center;
}

.description{
    max-width: 18rem;
}

.bar_chart{
    grid-column: 1 / 3
}
.container{
    max-width:100rem;
    margin: 0 auto;
}

#pie-chart{
    max-width: 40rem;
}