{% import 'organisims/page_container_plain.html' as page_container_plain  with context %}
{% import 'organisims/page_container_header.html' as page_container_header  with context %}
{% import 'organisims/page_container_headline.html' as page_container_headline  with context %}
{% import 'organisims/page_container_footer.html' as page_container_footer  with context %}
{% import 'organisims/child_container_sixty_percent_width.html' as child_container_sixty_percent_width with context %}
{% import 'organisims/footer.html' as footer  with context %}
{% import 'organisims/header.html' as header  with context %}
{% import 'organisims/icon_frame.html' as icon_frame with context %}
{% import 'molecules/link_icon_badge.html' as link_icon_badge with context %}
{% import 'molecules/nav_item_dropdown_menu.html' as nav_item_dropdown_menu with context %}
{% import 'molecules/nav_item.html' as nav_item with context %}
{% import 'molecules/nav_dropdown_item.html' as nav_dropdown_item with context %}
{% import 'atoms/headline_textstyle.html' as headline with context %}

{%- macro render(title_text) -%}
  <!-- header section-->
  <header>
    {% call page_container_header.render() %}
      <!-- header organism -->
      {% call(content) header.render() %}
        {% if content == 'navigation_secondary' %}
          {% call link_icon_badge.render(url="/landuse_change",active=("landuse_change" == active)) %}
            {% call icon_frame.render() %}
              <img
                src="/static/images/icons/land_use_change.svg"
                alt="Landuse change"
                title="Landuse change"
              />
            {% endcall %}
          {% endcall %}

          {% call link_icon_badge.render(url="/water_quality",active=("water_quality" == active)) %}
            {% call icon_frame.render() %}
              <img
                src="/static/images/icons/water_quality.svg"
                alt="Water quality"
                title="Water quality"
              />
            {% endcall %}
          {% endcall %}

          {% call link_icon_badge.render(url="/invasive_species",active=("invasive_species" == active)) %}
            {% call icon_frame.render() %}
              <img
                src="/static/images/icons/invasive_species.svg"
                alt="Invasive Species"
                title="Invasive Species"
              />
            {% endcall %}
          {% endcall %}

          {% call link_icon_badge.render(url="/greenhouse_gas_emissions",active=("greenhouse_gas_emissions" == active)) %}
            {% call icon_frame.render() %}
              <img
                src="/static/images/icons/greenhouse_gas_emissions.svg"
                alt="Greenhouse Gas Emissions "
                title="Greenhouse Gas Emissions"
              />
            {% endcall %}
          {% endcall %}

          {% call link_icon_badge.render(url="/climate_variables",active=("climate_variables" == active)) %}
            {% call icon_frame.render() %}
              <img
                src="/static/images/icons/climate_variables.svg"
                alt="Climate Variables"
                title="Climate Variables"
              />
            {% endcall %}
          {% endcall %}

          {% call link_icon_badge.render(url="/social_well_being",active=("social_well_being" == active)) %}
            {% call icon_frame.render() %}
              <img
                src="/static/images/icons/social_wellbeing.svg"
                alt="Social Wellbeing"
                title="Social Wellbeing"
              />
            {% endcall %}
          {% endcall %}
        {% endif %}
        {% if content == 'nav_list' %}
          {% call nav_item.render(url="/home") %}
            Home
          {% endcall %}
          {% call nav_item_dropdown_menu.render() %}
            {% call nav_dropdown_item.render(url="/vision") %}
              Vision
            {% endcall %}
            {% call nav_dropdown_item.render(url="/supporter") %}
              Supporters
            {% endcall %}
          {% endcall %}
          {% call nav_item.render(url="/disclaimer") %}
            Disclaimer
          {% endcall %}
        {% endif %}
      {% endcall %}
    {% endcall %}
  </header>

  <!-- headline section-->
  {% call page_container_headline.render() %}
    {% call child_container_sixty_percent_width.render() %}
      <!-- headline molecule -->
      {% call headline.render() %}
        {{ title_text }}
      {% endcall %}
    {% endcall %}
  {% endcall %}

  <!-- article section-->
  <main>{{ caller() }}</main>

  <!-- footer section-->
  <footer>
    {% call page_container_footer.render() %}
      <!-- footer organism -->
      {% call footer.render() %}
      {% endcall %}
    {% endcall %}
  </footer>

  <!-- iconic icon -->
  <script
    type="module"
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
  ></script>
{%- endmacro -%}
