{% import 'organisims/page_container_plain.html' as page_container_plain  with context %}
{% import 'organisims/page_container_header.html' as page_container_header  with context %}
{% import 'organisims/page_container_headline.html' as page_container_headline  with context %}
{% import 'organisims/page_container_footer.html' as page_container_footer  with context %}
{% import 'organisims/child_container_sixty_percent_width.html' as child_container_sixty_percent_width with context %}
{% import 'organisims/sidebar.html' as sidebar with context %}
{% import 'organisims/sidebar_nav.html' as sidebar_nav with context %}
{% import 'organisims/footer.html' as footer  with context %}
{% import 'organisims/page_header.html' as page_header  with context %}
{% import 'molecules/navigation_secondary_item.html' as navigation_secondary_item with context %}
{% import 'molecules/navigation_primary_item_dropdown_menu.html' as navigation_primary_item_dropdown_menu with context %}
{% import 'molecules/navigation_primary_item_regualr.html' as navigation_primary_item_regualr with context %}
{% import 'molecules/navigation_primary_item_dropdown_menu_item.html' as navigation_primary_item_dropdown_menu_item with context %}
{% import 'atoms/headline_textstyle.html' as headline with context %}
{% import 'atoms/divider.html' as divider with context %}

{%- macro render(title_text) -%}
  <!-- header section-->
  <header
    class="max-w-screen-xl mx-auto h-auto  md:px-4 px-0"
  >
    {% call page_container_header.render() %}
      <!-- header organism -->
      {% call(content) page_header.render() %}
        
      {% endcall %}
    {% endcall %}
  </header>

  <!-- headline section-->
  <section
    class="max-w-screen-xl mx-auto h-auto md:px-4 px-2"
  >
    {% call page_container_headline.render() %}
      {% call child_container_sixty_percent_width.render() %}
        <!-- headline molecule -->
        {% call headline.render() %}
          {{ title_text }}
        {% endcall %}
      {% endcall %}
    {% endcall %}
  </section>

  <!-- article section-->
  <main class="max-w-screen-xl mx-auto h-auto  md:px-4 px-2">
    {{ caller() }}
  </main>

  <!-- footer section-->
  <footer
    class="max-w-screen-xl mx-auto h-auto  md:px-4 px-2 mb-12"
  >
    <div class="w-full mb-10 xl:mb-16 lg:mb-12">
      {{ divider.render(divider_width="border-b-2",border_color="border-black") }}
    </div>
    {% call page_container_footer.render() %}
      <!-- footer organism -->
      {% call footer.render() %}
      {% endcall %}
    {% endcall %}
  </footer>
  {% call sidebar.render(flyout_id="nav_panel") %}
    {% call sidebar_nav.render() %}
    {% endcall %}
  {% endcall %}
  <!-- iconic icon -->
  <script
    type="module"
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
  ></script>
{%- endmacro -%}
