{% import 'organisims/page_container_plain.html' as page_container_plain  with context%}
{% import 'organisims/page_container_two_columns.html' as page_container_two_columns  with context%}
{% import 'organisims/page_container_one_column.html' as page_container_one_column  with context%}
{% import 'organisims/title.html' as title  with context%}
{% import 'organisims/column_title.html' as column_title  with context%}
{% import 'organisims/callout.html' as callout with context%}
{% import 'atoms/copytext.html' as copytext with context%}
{% import 'atoms/callout_copytext.html' as callout_copytext with context%}
{% import 'organisims/header.html' as header  with context%}



{% macro render() -%}
  {%set parent_caller=caller()%}
  {% set template %}
          <header>
            <!-- header section-->
            {% call page_container_plain.render() %}
              <!-- header organism -->
              {% call header.render() %}
              {% endcall %}
            {% endcall %}
          </header>

          <main>
          <!-- headline section-->
          {% call page_container_plain.render() %}
            <!-- headline organism -->
              {% call title.render() %}
                Greenhouse gas emission
            {% endcall %}
          {% endcall %}

          <!-- content-one section   -->
            {% call page_container_two_columns.render() %}
            <!--  left side column: flex layout for text content -->
            <div class="flex flex-col justify-start items-start gap-16 w-full">
              <div class="flex-col justify-start items-start gap-7 flex">
                {% call column_title.render() %}
                  Subhead 01
                {% endcall %}
                <div class="w-128">
                {% call copytext.render() %}
                  Each sector can be analysed in more detail to understand where
                  the largest contributing activities or sources exist.
                {% endcall %}
                </div>
              </div>
              {% with %}
              {% set body %}According to a survery conducted by
              the QLDC 80% of residents in the catchment stated that they were
              "concerned" or "very concerned" about the potential impacts of climate
              change.
              {% endset %}
              {% call callout.render(value=80,body=body) %}
              {% endcall %}
              {% endwith %}

              <div class="w-128">                
              {% call copytext.render() %}
                To align with national climate change commitments and targets and
                to alleviate concern from residents, increase in GHG emissions
                needs to be addressed across the sectors and catchment.
              {% endcall %}
              </div>
            </div>
            <!-- 
            <div class="border-b-2 border-dashed"></div>-->

            <!-- right side column: graph-->
            <div class="mt-10 flex flex-col w-full items-center">
              <div class="Rectangle11 w-208 bg-light-grey rounded-t-3xl">
                {{ create_figure().to_html(div_id="landUses",full_html=False, include_plotlyjs=False, include_mathjax=false )|safe  }} 
              </div>
              <div
                class="Frame4 w-208 px-12 py-6 bg-white rounded-b-3xl flex justify-start items-center gap-2.5 border-x-4 border-b-4 border-light-grey"
              >
                <div
                  class=" text-black text-caption font-medium font-inter leading-tight"
                >
                  GHG emissions from the energy sector by location.
                </div>
              </div>
            </div>
          </div>

          <!-- divider -->
          <div class="border-b-2 mb-32"></div>
          {% endcall %}
          <!-- content-two section -->
         <section class="container mx-auto h-auto">
          <div class="=flex flex-col items-end gap-16 w-full ">
            <div class="Frame26 flex-col gap-7 flex">
              <div
                class="w-208"
              >
          
                {% call column_title.render() %}
                the forestry sector
                {% endcall %}
              </div>
              
              <div
                class="w-208"
              >
                {% call copytext.render() %}
                The forestry sector accounts for greenhouse gas removals in the
                catchment; as forests grow, they sequester carbon dioxide and act
                as a natural carbon sink. A small quantity of greenhouse gas
                emissions result from deforestation and harvesting of both natural
                and plantation forests: a loss of 10.3 ha of forestland in 2076
                led to 9,500 tonnes of C02e emitted to the atmosphere.
              {% endcall %}
              </div> 

              </div>
            </div>

            <div
              class="flex-col self-stretch items-start gap flex mb-48"
            >
              <div class="w-full h-208 bg-light-grey rounded-t-3xl"></div>
              <div
                class="px-12 py-6 rounded-b-3xl bg-white border-x-4 border-b-4 border-light-grey flex gap-2.5 self-stretch"
              >
                <div
                  class=" text-black text-caption font-medium font-inter leading-caption tracking-tight"
                >
                  GHG emissions and removals from the forestry sector.
                </div>
              </div>
            </div>
          </div>
        </section> 

          <!-- button -->
          <div class="container mx-auto h-auto flex justify-center mb-48">
            <div
              class="leanmore_link_div Button w-76 mt-5 px-7 py-5 bg-black rounded-full flex justify-center items-center gap-4 hover:bg-white hover:shadow-md transition-all duration-700 ease-in-out"
            >
              <a
                href="#"
                class="leanmore_link text-white text-caption font-medium font-inter leading-caption flex justify-center items-center gap-4 tracking-tight"
              >
                <p>Learn more</p>
                <ion-icon
                  name="arrow-forward-circle-outline"
                  class="w-12 h-12"
                  style="stroke-width: 1px"
                ></ion-icon>
              </a>
            </div>
          </div>
          <!-- divider -->
          <div class="container mx-auto h-auto border-b-8 mb-12"></div>

        </main>

          <!-- references section-->
          <footer class="flex justify-between items-start mb-32">
            <!-- reference  -->
            <!-- <div
              class="References w-96 text-black text-caption font-bold font-inter"
            >
              References
            </div> -->

            <!-- <div
              class="AgricultureStatsnzTransportCentralOtagoDistrictCouncilEnergyArouraEnergyForestryLucasQldcQualityOfLifeSurvey"
            >
              <a
                class="text-slate-900 text-footer font-normal font-inter leading-10"
                href="#"
                >Agriculture—
                <span
                  class="text-slate-900 text-footer-02 font-semibold font-inter underline leading-10"
                  >StatsNZ<br /></span
              ></a>
              <a
                class="text-slate-900 text-footer-02 font-normal font-inter leading-10"
                href="#"
                >Transport-
                <span
                  class="text-slate-900 text-footer-02 font-semibold font-inter underline leading-10"
                  >Central Otago District Council<br /></span
              ></a>
              <a
                class="text-slate-900 text-footer-02 font-normal font-inter leading-10"
                href="#"
                >Energy—
                <span
                  class="text-slate-900 text-footer-02 font-semibold font-inter underline leading-10"
                  >Aroura Energy<br /></span
              ></a>
              <a
                class="text-slate-900 text-footer-02 font-normal font-inter leading-10"
                href="#"
                >Forestry—
                <span
                  class="text-slate-900 text-footer-02 font-semibold font-inter underline leading-10"
                  >LUCAS:QLDC Quality of Life Survey<br /></span
              ></a>
            </div> -->
          </footer>

      <!-- iconic icon -->
      <script
        type="module"
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
      ></script>
      <script
        nomodule
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
      ></script>
      

  {% endset %}

  {{ template }}

  
{%- endmacro %}
