{% import 'organisims/page_container_plain.html' as page_container_plain  with context%}
{% import 'organisims/title.html' as title  with context%}
{% import 'organisims/header.html' as header  with context%}





{% macro render(title_text="") -%}
  {%set parent_caller=caller()%}
  <!-- header section-->
  <header>
    {% call page_container_plain.render() %}
      <!-- header organism -->
      {% call header.render() %}
      {% endcall %}
    {% endcall %}
  </header>
  
  <!-- headline section-->
  {% call page_container_plain.render() %}
  <!-- headline organism -->
    {% call title.render() %}
      {{ title }}
    {% endcall %}
  {% endcall %}

  <!-- article section-->
  {{ parent_caller }}

  <!-- references section-->
  <footer class="flex justify-between items-start mb-32">
      
  </footer>
  <!-- iconic icon -->
  <script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
  ></script>
{%- endmacro %}
