{% import 'organisims/header.html' as header  with context %}
{% import 'organisims/page_container_header.html' as page_container_header  with context %}
{% import 'organisims/sidebar.html' as sidebar with context %}
{% import 'molecules/navigation_secondary_item.html' as navigation_secondary_item with context %}
{% import 'molecules/navigation_primary_item_dropdown_menu.html' as navigation_primary_item_dropdown_menu with context %}
{% import 'molecules/navigation_primary_item_regualr.html' as navigation_primary_item_regualr with context %}
{% import 'molecules/navigation_primary_item_dropdown_menu_item.html' as navigation_primary_item_dropdown_menu_item with context %}

{%- macro render(title_text) -%}
  {% set  parent_caller = caller() %}
  <header class="max-w-screen-xl mx-auto px-2 xl:px-12 lg:px-8 md:px-6">
    {% call page_container_header.render() %}
      <!-- header organism -->
      {% call(content) header.render() %}
        {% if content == 'navigation_secondary' %}
          {% call navigation_secondary_item.render(url="/landuse_change",active=("landuse_change" == active)) %}
            <img
              src="/static/images/icons/land_use_change.svg"
              alt="Landuse change"
              title="Landuse change"
            />
          {% endcall %}

          {% call navigation_secondary_item.render(url="/water_quality",active=("water_quality" == active)) %}
            <img
              src="/static/images/icons/water_quality.svg"
              alt="Water quality"
              title="Water quality"
            />
          {% endcall %}

          {% call navigation_secondary_item.render(url="/invasive_species",active=("invasive_species" == active)) %}
            <img
              src="/static/images/icons/invasive_species.svg"
              alt="Invasive Species"
              title="Invasive Species"
            />
          {% endcall %}

          {% call navigation_secondary_item.render(url="/greenhouse_gas_emissions",active=("greenhouse_gas_emissions" == active)) %}
            <img
              src="/static/images/icons/greenhouse_gas_emissions.svg"
              alt="Greenhouse Gas Emissions "
              title="Greenhouse Gas Emissions"
            />
          {% endcall %}

          {% call navigation_secondary_item.render(url="/climate_variables",active=("climate_variables" == active)) %}
            <img
              src="/static/images/icons/climate_variables.svg"
              alt="Climate Variables"
              title="Climate Variables"
            />
          {% endcall %}

          {% call navigation_secondary_item.render(url="/social_well_being",active=("social_well_being" == active)) %}
            <img
              src="/static/images/icons/social_wellbeing.svg"
              alt="Social Wellbeing"
              title="Social Wellbeing"
            />
          {% endcall %}
        {% endif %}
        {% if content == 'navigation_primary' %}
        {% endif %}
      {% endcall %}
    {% endcall %}
  </header>

  <main>{{ parent_caller }}</main>

  {% call sidebar.render(flyout_id="nav_panel") %}
    <ul class="space-y-2 font-medium text-white">
      {% call navigation_primary_item_regualr.render(url="/home") %}
        Home
      {% endcall %}
      {% call navigation_primary_item_dropdown_menu.render() %}
        {% call navigation_primary_item_dropdown_menu_item.render(url="/vision") %}
          Vision
        {% endcall %}
        {% call navigation_primary_item_dropdown_menu_item.render(url="/supporter") %}
          Supporters
        {% endcall %}
      {% endcall %}
      {% call navigation_primary_item_regualr.render(url="/disclaimer") %}
        Disclaimer
      {% endcall %}
    </ul>
  {% endcall %}
{%- endmacro -%}
